<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styling/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href= "https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1033-b-05-a_2-ksy5refo.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b4a7c09450d5dac164b95cf2aa5d9cd7">
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1033-b-05-a_2-ksy5refo.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b4a7c09450d5dac164b95cf2aa5d9cd7">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="manifest" href="site.webmanifest">
    <title>Shelf Space</title>
</head>
<body>
    <header class="nav flex p-5 justify-between h-max">
        <!-- where we will place our logo -->
        <!-- hid the logo for now -->
        <a href="/home" class="active lg:pl-5">
        <img src="images/shelfspace.png" alt="shelfspace logo" class="rounded-md bg-transparent"></a>
        <!-- nav links below -->
        {{#if logged_in}}
        <section class="navLinks lg:space-x-8 pr-5 pl-5">
            <a href="/login" class="burgLinks hover:text-neutral-50 goLogout">Logout</a>
            <a href="/contact" class="burgLinks hover:text-neutral-50 goContact">Contact</a>
            
        </section>
        <section class="otherNav lg:space-x-8 pr-5 pl-5 ml">
            <!--GMS our if elses are working, great job!-->
            <a href="/login" class="hover:text-neutral-50 goLogout" id="logout-button">Logout</a>
            <a href="/contact" class="hover:text-neutral-50 goContact">Contact</a>
        </section>
        {{else}}
         <section class="navLinks lg:space-x-8 pr-5 pl-5">
            <a href="/login" class="burgLinks hover:text-neutral-50 goLogin">Login</a>
            <a href="/signup" class="burgLinks hover:text-neutral-50 goSignup" id="signup=page">Sign Up</a>
            <a href="/about" class="burgLinks hover:text-neutral-50 goAbout">About</a>
            <a href="/contact" class="burgLinks hover:text-neutral-50 goContact">Contact</a>
        </section>
        <section class="otherNav lg:space-x-8 pr-5 pl-5 ml">
            <a href="/login" class="hover:text-neutral-50 goLogin">Login</a>
            <a href="/signup" class="hover:text-neutral-50 goSignup">Sign Up</a>
            <a href="/about" class="hover:text-neutral-50 goAbout">About</a>
            <a href="/contact" class="hover:text-neutral-50 goContact">Contact</a>
        </section>
        {{/if}}
        <!-- pop open hamburg -->
        <a href="javascript:void(0);" class="icon lg:hidden md:hidden" onclick="navBar()">
            <i class="fa-solid fa-bars"></i>
        </a>
    </header>

{{!-- doesn't quite work like I'd like so will come back --}}
    {{!-- <main class="overflow-y-scroll"> --}}
    <main>
        {{{body}}}
    </main>

      <footer class="foot p-5">
       <p class="subFoot text-s">
            From one bibliophile, to the next.
        </p>
        <p class="footText text-xs">
            &#169 2022 Carralero, Lewis, Rojas, Sowa.
        </p>
    </footer>
</body>

<!--GMS lets be extra cautious about what scripts were requiring down here so were not chock full of errors-->
{{!-- <script src='../public/js/signup.js'></script> --}}
{{!-- <script src='../public/js/login.js'></script> --}}
{{!-- <script src="/js/login.js"></script>--}}
{{!-- <script src="../js/style.js"></script> --}}
<script src="../js/logout.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://kit.fontawesome.com/997d2a4a51.js" crossorigin="anonymous"></script>

</html>