
    <section class="bannerAbout hero flex bg-fixed bg-center bg-cover bg-origin-border justify-center h-screen">
        <section class="h-2/3">
            <img src="/images/shelfspace.png" alt="shelfspace logo">
        </section>
  
        <p class="text-4xl  m-5">
             Welcome to your safe space.
        </p>
        <section class="whatCard">
            <p class="text-lg">
                We are here to tell you, that keeping track of your extensive library doesn't have to be so hard. Shelfspace is yours to catalog, organize, and take notes on the collection living in your shelves, in one easy place. 
            </p>
            <br>
            <p class="text-lg">
            Shelfspace was created by a group of student developers, who also happen to be passionate bibliophiles. We look forward to expanding the site so we can all comfortably grow with our collections, while sharing our love of the written word with each and every one of you. 
        </p>
        </section>
    </section>

    <script src="/js/style.js"></script>
