        <section class="userBanner w-screen p-2">
            {{!-- {{#each catalog}}
            {{#log name}}
            {{/each}} --}}
            <p class="text-3xl mb-2">
                Welcome home, {{username}}.
            </p>
            <p class="text-xl">
                Let's make your shelves your safe space.
            </p>
        </section>


        <section class="catalogsHome h-screen p-2 grid grid-cols-2 gap-4">
            {{#each catalog}}
            {{log name}}
            <section class="catalogs p-2 m-5 w-full">
                <ul class="catList w-full" id="catsCats">
                    <li><a href="#" id="" class="border rounded-md p-2 m-5 w-full">{{name}}</a></li>
                    <br>
                </ul>
            </section>
            {{/each}}
            {{!-- {{#if !catalog}}
            <section class="noCatalogs">
                <p>
                    You don't have any catalogs yet!
                </p>
            </section>
            {{/if}} --}}
        </section>
            <section class="createCat">
                <form id="catName">
                    <h2>Add a catalog to your collection</h2>
                    <label for="catName">Catalog name</label>
                    <br>
                    <!--GMS this will be our input value catch for the logic that renders a cat-->
                    <input type="text" id="name-input" name="name" class="newCatName border rounded-md p-1">
                    <br>
                    <label for="catGenre">Catalog Type</label>
                    <br>
                    <input type="text" id="genre_type-input" name="genre_type" class="newCatName border rounded-md p-1">
                    <br>
                    <button class="newCat">Save Catalog</button>
                </form>


            </section>
        </section>
        <section class="searchBooks">
            {{!-- <form id="exploreBooks"> --}}
                <label for="searchBar">
                    Explore the shelves here
                </label>
                <br>
                <input type="search" id="bookGrab" name="searchBar" class="searchBar border rounded-md p-1">
                <br>
                <label for="searchAuthor">Search by Author</label>
                <input type="radio" id="author" name="searchAuthor">
                <label for="searchTitle">Search by Title</label>
                <input type="radio" id="book" name="searchTitle">
                <button onclick="getBooks()">Search</button><br/>
                <section id="output">
                    {{!-- need to add the plus button on this part I think, but where and how???? --}}
                </section>
            </form>
        </section>

<script src="/js/catalogs.js"></script>
<script src="/js/apiSearch.js"></script>

