<section class="userBanner w-screen p-2">
    {{!-- {{#each catalog}}
    {{#log name}}
    {{/each}} --}}
    <p class="text-3xl mb-2">
        Welcome home, {{username}}.
    </p>
    <p class="text-xl">
        Let's make your shelves your safe space.
    </p>
</section>


<section class="catalogsHome p-2 inline-flex flex-col w-1/3">
    {{#each catalog}}
    {{log name}}
    <section class="catalogs p-2 m-3">
        <ul class="catList flex" id="catsCats">
            <li class="border w-full flex justify-between rounded-md p-2 bg-[#ffd166] hover:bg-white hover:border-2 hover:border-[#ffd166]">
                <a href="#" class="pl-2">{{name}}</a><i class="fa-solid fa-ellipsis-vertical pt-1" role="button" onclick=""></i></li>
        </ul>
    </section>
    {{/each}}
</section>

{{!-- shit won't center.... >:[ --}}
<section class="createCat m-5 ml-10 p-2 inline-flex border border-2 border-[#ffd166] rounded-md">
    <form id="catName flex flex-col justify-center p-2">
        <p class="text-xl pb-2 self-center">Create Catalog</p>
        <label for="catName" class="mb-2">Catalog name</label>
        <br>
        <!--GMS this will be our input value catch for the logic that renders a cat-->
        <input type="text" id="name-input" name="name"
            class="newCatName border rounded-md mb-3 p-1 focus:border-[#ff4797]"
            placeholder="ex. Vampire Parodies">
        <br>
        <label for="catGenre" class="pb-1">Catalog Type</label>
        <br>
        <input type="text" id="genre_type-input" name="genre_type" class="newCatName border rounded-md p-1" placeholder="ex. Sci-Fi">
        <br>
        <button class="newCat border rounded-md mt-3 text-white bg-[#ff4797] hover:bg-white hover:text-black hover:border-[#ff4797] hover:border-2 px-2 py-1">Save Catalog</button>
    </form>
</section>

<section class="searchBooks m-5 ml-10 p-2 inline-flex border border-2 border-[#ffd166] rounded-md">
    <form id="explore" class="flex flex-col p-2">
        <label for="searchBar">
            Explore the shelves
        </label>
        <br>
        <input type="search" id="bookGrab" name="searchBar" class="searchBar border rounded-md p-1">
        <br>
        <label for="searchAuthor">Search by Author</label>
        <input type="radio" id="author" name="searchAuthor">
        <label for="searchTitle">Search by Title</label>
        <input type="radio" id="book" name="searchTitle">
        {{!-- <input id="exploreBooks" type="submit"> --}}
        <button onclick="getBooks()">Search</button><br/>
        <section id="output">
            {{!-- need to add the plus button on this part I think, but where and how???? --}}
        </section>
    </form>
</section>

<script src="/js/catalogs.js"></script>
<script src="/js/apiSearch.js"></script>