        <section class="catalogsHome h-screen p-2 grid grid-cols-2 gap-4">
            <section class="catalogs p-2 m-5 w-full">
                <ul class="catList w-full">
                    <li><a href="#" class="libraryFull border rounded-md p-2 m-5 w-full">Full Library</a></li>
                    <li><a href="#" class="favorites border rounded-md p-2 m-5">Favorites</a></li>
                    <li><a href="#" class="wishList border rounded-md p-2 m-5 w-full">Wish List</a></li>
                    {{!-- {{#each catalog}}
                    <li>{{this}}</li>
                    {{/each}} --}}
                    <!-- this would be where new LI's are inserted upon the creation of new catalogs -->
                </ul>
            </section>
            <section class="createCat">
                <form action="" id="catName">
                    <h2>Add a catalog to your collection</h2>
                    <label for="catName">Catalog name</label>
                    <br>
                    <!--GMS this will be our input value catch for the logic that renders a cat-->
                    <input type="text" id="name-input" name="name" class="newCatName border rounded-md p-1">
                    <br>
                    <label for="catGenre">Catalog Type</label>
                    <br>
                    <input type="text" id="genre_type-input" name="genre_type" class="newCatName border rounded-md p-1">
                    <br>
                    <button class="newCat">Save Catalog</button>
                </form>
                <button type="button" class="learnBtn mt-10" id="catalogs-button">
                    <a href="/catalogs" class="learnMore border rounded border-hidden shadow-md shadow-slate-700 p-2 text-large hover:bg-zinc-50 hover:border-solid">{{catalogs.name}}'s Catalogs</a>
                </button>
                <script src="/js/catalogs.js"></script>
            </section>
        </section>

{{!-- below is the start for my option to add a little elipsis on the end to do a quick option for delete, edit --}}
                    {{!-- <section class="dropdownMenu">
                        <button class="drop">
                            <i 
                        </button>
                    </section> --}}
