{{!-- this is the big center banner:) --}}
{{!-- where users are initially taken when they open the page, not logged in --}}
    <section class="hero flex bg-fixed bg-center bg-cover bg-origin-border  justify-center h-screen">
            <section class="heroText">
                <p class="text-6xl">{{name}}</p>
                <button type="button" class="learnBtn mt-10">
                    <a href="/about" class="learnMore border rounded border-hidden shadow-md shadow-slate-700 p-2 text-large hover:bg-zinc-50 hover:border-solid">Learn More</a>
                </button>
                <button type="button" class="learnBtn mt-10" id="catalogs-button">
                    <a href="/catalogs" class="learnMore border rounded border-hidden shadow-md shadow-slate-700 p-2 text-large hover:bg-zinc-50 hover:border-solid">Catalogs</a>
                </button>
            </section>

    </section>

{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/catalogs.js"></script>
<script src="/js/logout.js"></script>