<h1>Our Homepage</h1>
<h2>Our data(test)</h2>
{{!-- <ul>{{#each booklist}}
    <li>{{name}}:{{description}}</li>
</ul> --}}
<form action="logout" id="home-page">
    <button id="logout-button">Logout</button>
</form>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>