        <section class="loginPage">
            <form class="loginForm" id="login-page">
                <label for="login-email">Email</label>
                <br>
                <input type="text" id="login-email" name="login-email" class="border rounded-md">
                <br>
                <label for="login-password">Password</label>
                <br>
                <input type="text" id="login-password" name="login-password" class="border rounded-md">
                <br><br>
                <!-- <input type="submit" value="Login"> if we do this way, needs an action label in the form field-->
                <button class="loginBtn border rounded-md">Login</button>
            </form>

        </section>
<script src="/js/login.js"></script>
