<!--Basic login handlebars. Needs script and style.-->
<h1>Our login page</h1>
<form action="" id="login-page">
    <input type="text" name="login-email" id="login-email" placeholder="Please enter your email here.">
    <input type="text" name="login-password" id="login-password" placeholder="Please enter your password here.">
    <button>Login</button>
</form>

<!--This form should be moved to its own page but just testing.-->
<h1>Our signup page</h1>
<form action="" id="signup-page">
    <input type="text" name="login-email-signup" id="login-email-signup" placeholder="Please enter your email here.">
    <input type="text" name="login-username-signup" id="login-email-signup" placeholder="Please enter your desired username here.">
    <input type="text" name="login-password-signup" id="login-password-signup" placeholder="Please enter your password here.">
    <button>Sign up</button>
</form>