        <section class="signupPage flex justify-center h-screen p-5">
            <form class="signupForm flex flex-col justify-center" id="signup-page">
                <p class="text-4xl pb-4 self-center">shelfspace</p>
                <p class="text-2xl pb-4 self-center">Sign Up</p>
                <label for="login-email-signup" class="pb-1">Email</label>
                <input type="text" name="login-email-signup" id="login-email-signup" class="border rounded-md mb-3">
                <label for="login-username-signup" class="pb-1">Username</label>
                <input type="text" name="login-username-signup" id="login-username-signup" class="border rounded-md mb-3">
                <label for="login-password-signup" class="pb-1">Password</label>
                <input type="text" name="login-password-signup" id="login-password-signup" class="border rounded-md mb-1">
                <p class="text-sm text-slate-500">
                    <i class="fa-solid fa-circle-exclamation pb-3"></i> Password must be a minimum of 8 characters</p>
                <button class="border rounded-md mt-3 text-white bg-[#ff4797] hover:bg-white hover:text-black hover:border-[#ff4797] hover:border-2">Sign Up</button>
                <p class="text-sm text-slate-500 self-center pt-1">Already have an account? <a href="/login" class="hover:text-black">Login here</a>.</p>
            </form>

        </section>
<script src="/js/signup.js"></script>