        <section class="signupPage">
            <form class="signupForm" id="signup-page">
                <label for="login-email-signup">Email</label>
                <input type="text" name="login-email-signup" id="login-email-signup" class="border rounded-md">
                <br>
                <label for="login-username-signup">Username</label>
                <input type="text" name="login-username-signup" id="login-username-signup" class="border rounded-md">
                <br>
                <label for="login-password-signup">Password</label>
                <input type="text" name="login-password-signup" id="login-password-signup" class="border rounded-md">
                <br><br>
                <button class="border rounded-md">Sign Up</button>
            </form>

        </section>
<script src="/js/signup.js"></script>