<section class='catbookList h-screen'>
  <ul class='titleList m-5 p-2'>
    <li class='indBook'>
      <!-- cover from api -->
      <img
        src='#'
        class='coverImg h-3/5 w-2/5 border rounded-sm bg-slate-400'
      />
      <p class='bookTitle text-2xl font-semibold'></p>
      <br />
      <p class='bookAuthor text-lg'>
        by {{authorname}}
      </p>
      <br />
      <p class='synopsis'></p>
      <br />
      <form class='userBookInput'>
        <!-- shit for adding user comments on book here -->
      <div class="max-w-lg shadow-md">
      <form action="" class="w-full p-4">
        <label class="block mb-2">
          <span class="text-gray-600">Add a comment</span>
          <textarea class="block w-full mt-1 rounded" rows="3"></textarea>
        </label>
        <button class="px-3 py-2 text-sm text-blue-100 bg-blue-600 rounded">Comment</button>
      </form>
    </div>
      {{! <button class="btn like-btn">
                        <span class="button-icon">
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </button> }}
    </li>
  </ul>
</section>