<section class='catbookList h-screen'>
  <ul class='titleList m-5 p-2'>
    <li class='indBook'>
      <!-- cover from api -->
      <img
        src='#'
        class='coverImg h-3/5 w-2/5 border rounded-sm bg-slate-400'
      />
      <p class='bookTitle text-2xl font-semibold'></p>
      <br />
      <p class='bookAuthor text-lg'>
        by {{authorname}}
      </p>
      <br />
      <p class='synopsis'></p>
      <br />
      <form class='userBookInput'>
        <!-- shit for adding user comments on book here -->
<div class="max-w-lg rounded-lg shadow-md shadow-blue-600/50">
  <form action="" class="w-full p-4">
    <div class="mb-2">
      <label for="comment" class="text-lg text-gray-600" method="post">Add a comment</label>
      <textarea
        class="w-full h-20 p-2 border rounded focus:outline-none focus:ring-gray-300 focus:ring-1"
        name="content"
        placeholder="Comment"></textarea>
    </div>
    <div>
      <button class="px-3 py-2 text-sm text-blue-100 bg-blue-600 rounded">
        Comment
      </button>
      <button
        class="px-3 py-2 text-sm text-blue-600 border border-blue-500 rounded">
        Cancel
      </button>
    </div>
  </form>
</section>
    {{!-- id for cat button to add to cat is #addCatBook --}}
</div>
    </li>
  </ul>
</section>
      <section class="searchBooks m-5 ml-10 p-2 inline-flex self-center">
        <form id="explore" class="flex flex-col p-2 content-center">
            <label for="searchBar" class="pb-2 text-xl">
                Explore the shelves
            </label>
            <input type="search" id="bookGrab" name="searchBar" class="searchBar border rounded-md p-1 focus:outline-[#ff828f]" placeholder="ex. Our Mutual Friend">
        
        {{!-- below is the search by author with button bit --}}
            <section class="pt-2 flex content-center justify-evenly">
                <label for="searchAuthor">Search by Author</label>
                <input type="radio" id="author" name="searchAuthor" class="accent-[#ff828f]">
            </section>
        {{!-- below is search by title --}}
            <section class="pb-2 flex content-center justify-around">
                <label for="searchTitle">Search by Title</label>
                <input type="radio" id="book" name="searchTitle" class="accent-[#ff828f]">
            </section>
            <button id="exploreBooks" class="bg-[#ff4797] border rounded-md mt-3 text-white hover:bg-white hover:text-black hover:border-[#ff4797] hover:border-2 px-2 py-1">Search</button>
                <!--GMS render section api return passes through-->
            </form>
        </section>

{{!-- this is the section that holds all the books that are searched for --}}
        <section id="output0" class="flex m-3">
            {{!-- my attempt to organize the data that's coming in from the api --}}
            <section class="flex-">
                <h3 id="authorNameoutput" class=""></h3>
                <h5 id="titleNameoutput"></h5>
            </section>
            
            <img id="coverOutput">
        </section>
                <section id="output1" class="flex m-3">
            {{!-- my attempt to organize the data that's coming in from the api --}}
            <section class="flex-">
                <h3 id="authorNameoutput" class=""></h3>
                <h5 id="titleNameoutput"></h5>
            </section>
            
            <img id="coverOutput">
        </section>
                <section id="output2" class="flex m-3">
            {{!-- my attempt to organize the data that's coming in from the api --}}
            <section class="flex-column p-3">
                <h3 id="authorNameoutput" class="text-2xl"></h3>
                <h5 id="titleNameoutput" class="text-lg"></h5>
            </section>
            
            <img id="coverOutput">
        </section>
<script src="/js/style.js"></script>
<script src="/js/book.js"></script>
<script src="/js/renderCat.js"></script>
<script src="/js/deletebutton.js"></script>
<script src="/js/catalogs.js"></script>
<script src="/js/apiSearch.js"></script>