:root {
    --background: #ffd166;
    --secondary: #ffba66;
   --accent: #ff7497;
    --other: #ff828f;
    --light: #ffbad4;
    --dark: #3B413C;
    --hover: #B4BBB5;

}

/* this is to make the navbar expand */
.navbar {
    overflow: hidden!important;
    position: relative!important;
}

.navbar #navLinks {
    display: none!important;
}

.navbar a {
    color: white!important;
    background-color:var(--dark)!important;
    text-decoration: none!important;
    display: block;
    padding: 1vh;
}
.navbar a:hover {
    background-color: var(--hover)!important;
    color: black!important;
}

/* catalog stuff */
.catlist li a {
    width: inherit;

}

/* like button stuff */
/* .like-btn {
    
} */
/* 
body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;

} */
#commentBox, #post {
    border: none;
    border-radius: 5px;
    width: 20%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 100%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
#post:hover{
    background-color: deeppink;
}
