

:root {
    --primary:#ff828f;
    --background:#ffd166;
    --secondary: #ffba66;
    --accent: #ff7497;
    --light: #ffbad4;
}

header {
    background-color: var(--light);    
}
/* navbar */
.nav {
    overflow: hidden;
    /* background-color: darkslategray; */
    position: relative;
}

/* hiding links inside hamburg */
.nav .navLinks {
    display: none;
}

.nav .burgLinks {
    color: white;
    text-decoration: none;
    display: block;
}

/* style hamburg menu */
.nav a.icon {
    /* display: block; */
    position: absolute;
    right: 10px;
    top: 10px;
} 

.nav .navLinks:hover {
    background-color: grey;
    color: black;
}
/* for horizontal menu items */
.otherNav {
    display:block;
}

/* hero image styling */
.hero {
    background-image: url(../images/background-unsplash.jpg);
}


.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .learnBtn {
    m;
} */

.learnMore {
    background-color: var(--light);
}

/* footer obvs */
.foot {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


@media only screen and (max-width: 760px) {
    .otherNav {
        display:none
    }
}