/* this is to make the navbar expand
.navbar {
    overflow: hidden!important;
    position: relative!important;
}

.navbar #navLinks {
    display: none!important;
}

.navbar a {
    color: white!important;
    background-color:var(--dark)!important;
    text-decoration: none!important;
    display: block;
    padding: 1vh;
}
.navbar a:hover {
    background-color: var(--hover)!important;
    color: black!important;
} */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* navbar */
.nav {
    overflow: hidden;
    background-color: darkslategray;
    position: relative;
}

/* hiding links inside hamburg */
.nav .navLinks {
    display: none;
}

.nav .burgLinks {
    color: white;
    text-decoration: none;
    display: block;
}

/* style hamburg menu */
.nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
}

.nav .navLinks:hover {
    background-color: grey;
    color: black;
}


