:root {
    --background: #ffd166;
    --secondary: #ffba66;
   --accent: #ff7497;
    --other: #ff828f;
    --light: #ffbad4;
    --dark: #3B413C;
    --hover: #B4BBB5;

}

/* this is to make the navbar expand */
.navbar {
    overflow: hidden!important;
    position: relative!important;
}

.navbar #navLinks {
    display: none!important;
}

.navbar a {
    color: white!important;
    background-color:var(--dark)!important;
    text-decoration: none!important;
    display: block;
    padding: 1vh;
}
.navbar a:hover {
    background-color: var(--hover)!important;
    color: black!important;
}

